<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Editar nota
    </ion-title>
    <ion-button size="small" slot="end" color="secondary" (click)="goOut()">Salir</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="todoForm" (ngSubmit)="editNote()">
      <ion-item>
        <ion-label>Título</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Descripción</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-button shape="round" color="primary" fill="outline" type="submit"
      [disabled]="!this.todoForm.valid">Editar</ion-button>
    </form>
</ion-content>
